@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
}
:root{
  --main-color:#473472;
  --second-color:#53629E;
  --third-color:#000000;
  --fourth-color:#473472;
  --white: #F2F2F2;
  --black: #000000;
  --gray-dark: #222831;
  --gray: #393E46;

}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.menu {
  background-color: var(--main-color); /* color del fondo*/
  color: var(--fourth-color); /*color de la letra*/
  font-size: 14px; /*tama;o de la tipografia de la letra*/
  font-family: "Titillium Web", sans-serif; /*tipo de letra*/
  height: 80px;
}
.menu ul {
  display: flex;
  list-style: none; /*cambiar el estilo de la lista*/
  justify-content: right; /* alinear el menu al centro*/
}
.menu ul li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}
.menu ul li a {
  color: var(--white);
  display: block;
  font-size: 19px;
}
.menu ul li a:hover {
  color: var(--black);
}

/*QUIENES SOMOS*/
.quienes-somos {
  display: grid; /*visualizar en forma de malla*/
  grid-template-columns: auto auto; /*vividir en columnas tanto auto ponga o fr se dividira*/
}

.quienes-somos h2 {
  font-size: 48px;
  font-weight: 800;
  color: #1a2a4f;
  font-family: "Oswald", sans-serif;
}
.img-quienes-somos {
  width: 600px;
}
.pd-50 {
  padding: 0px 50px;
}
.contenedor {
  max-width: 100%;
  padding: 80px 30px;
}
.center {
  text-align: center;
}
.contenedor h2 {
  font-size: 48px;
  font-weight: bold;
}
.contenedor p {
  font-size: 16px;
  font-weight: 500;
}
/*servicios*/
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
  /*  margin-top: 80px;*/
}
.servicios .col {
  padding: 3%;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  background-color: var(--white);
}
.icon {
  font-size: 90px;
  color: var(--second-color);
}
.icon:hover{color: var(--main-color);}
/*FOOTER*/

footer {
  display: grid;
  grid-template-columns: auto auto auto;
}
footer .logo {
  width: 150px;
  font-size: 58px;
}
footer h3{
  color: var(--second-color);
  font-size: 18px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}
footer .social-icons{
  display: flex;
}
footer .social-icons li{
  padding: 5px;
  font-size: 32px;
}
footer .social-icons li a{
  font-size: 24px;
  color:  var(--second-color);
}
footer .social-icons li a:hover{
  color: var(--main-color);
}
footer .menu-footer li{
  line-height: 1.5em; 
}
.lh-1-5{
    line-height: 1.5em;
    font-size: 18px;
}